main {

    padding: 0 2em;
}

.logoSite {
    padding: 0 1em;
}


nav {
    padding: 0.5em 1em;
}




.ListeSearch {
    position: absolute;
    background: #fff;
    overflow-y: scroll;
}
.ListeSearch span {
    display: block;
    font-size: 10px;
}
.close ,
.searchNow {
    position: absolute;
    top: 0;
    right: 0;
}
.searchCompenant{
    position: absolute;
    bottom: 0;
}
.ListeSearch {
    position: absolute;
    background: #fff;
    overflow: hidden;
    width: 100%;
    font-size: 17px;
    background-color: #c2972d;
    color: #fff;
    text-transform: capitalize;
    top:-15px;
}

/******************MENU*******************/
.nav-link:focus,
.nav-link:hover {
    color: #212529 !important;
}
.offcanvas.show {
    background: #e5bb4f;
}

.offcanvas-body{
    
    .nav-link:first-child {
        border-top: 1px solid transparent;
    }
    .nav-link{
        border-top: 1px solid #ffd362;
    }
    .menu__link {
        font: normal normal 400 1.4em/1em Arial,sans-serif;
        text-transform: uppercase;
        letter-spacing: .3em;
        display: block;
        padding: 1.25em 0;
        outline: none;
        text-decoration: none;
        color: inherit;
        transition: color .5s ease-in-out;
    }
    
    .nav-link {
        display: block;
        padding: 1.25em 0 !important;
        color: #fff;
    }

}

/******************MENU*******************/